
<div class="grid-x grid-padding-x sub-nav">
  <div class="medium-6 cell">
    <h1 class="h5 font-bold"><%= @scheme.name %></h1>
  </div>
  <div class="medium-6 cell">
    <ul class="menu align-right">
      <li><a href="#">Dashboard</a></li>
      <li class="is-active"><a href="#">Issues</a></li>
      <li><a href="#">Search</a></li>
    </ul>
  </div>
</div>

<h1>Issues <%= link_to "Add new issue", new_scheme_issue_path(@scheme), class: 'button float-right' %></h1>

<div class="filter-box">
  <%= form_for_filterrific @filterrific do |f| %>
    <%= hidden_field_tag :chart, params[:chart] %>
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="medium-4 cell">
          <%= label_tag(:search_query, "Keyword search") %>
          <%= text_field_tag(:search_query) %>
        </div>
        <div class="medium-3 cell">
          <%= f.select(:status_filter, @filterrific.select_options[:statuses], include_blank: "All") %>
        </div>
        <div class="medium-2 cell">
          <%= f.select(:priority_filter, @filterrific.select_options[:priorities], include_blank: "All") %>
        </div>
        <div class="medium-3 cell">
          <%= f.select(:trade_filter, @filterrific.select_options[:trades], include_blank: "All") %>
        </div>
      </div>
      <div class="grid-x grid-padding-x">
        <div class="medium-6 cell">
          <%= f.select(:location, @filterrific.select_options[:locations], include_blank: "All") %>
        </div>
      </div>
      <div class="grid-x grid-padding-x">
        <div class="medium-3 cell">
        Show overdue only
          <%= f.check_box :overdue_filter %>
        </div>
        <div class="medium-3 cell">
          <%= f.select(:reported_by, @filterrific.select_options[:users], include_blank: "All") %>
        </div>
        <div class="medium-3 cell">
          <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
        </div>
        <div class="medium-3 cell">
          <%= f.submit 'Filter', class: 'button expanded filter-btn' %>
        </div>
      </div>
      <div class="grid-x grid-padding-x">
        <div class="cell">
          <%= link_to(
            'Reset filters',
            reset_filterrific_url, class: 'float-right'
          ) %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="grid-x grid-padding-x margin-top-1">
  <div class="medium-6 cell">
    <p><%= @issues.count %> issues</p>
  </div>
  <div class="medium-6 cell">
    <p class="float-right">Results per page XX | <span><%= link_to('Show all')%></span></p>
  </div>
  <div class="cell padding-bottom-1">
    <a href="">Download a spreadsheet of issues in <%= @scheme.name %></a>
  </div>
</div>

<% if params[:chart].blank? %>
  <%= will_paginate @issues, renderer: FoundationPagination::Rails %>
<% end %>

<ul class="tabs" id="issues-tabs">
  <li class="tabs-title">
    <%= link_to "Table", params.permit!.merge(chart: nil), 'aria-selected': !params[:chart] %>
  </li>
  <li class="tabs-title">
    <%= link_to "Trades", params.permit!.merge(chart: 'trade'), 'aria-selected': params[:chart] == 'trade' %>
  </li>
  <li class="tabs-title">
    <%= link_to "Statuses", params.permit!.merge(chart: 'status'), 'aria-selected': params[:chart] == 'status'  %>
  </li>
</ul>

<% if params[:chart].present? %>
  <%= render partial: 'chart' %>
<% else %>
  <%= render partial: 'table' %>
<% end %>
