<%= link_to '< Back', scheme_issues_path(@scheme) %>
<div class="grid-x grid-margin-x">

  <div class="cell medium-8">
    <h2 class="display-inline">Issue details</h2> <span class="text-underline h5 margin-left-3"><%= link_to "Edit this issue", edit_scheme_issue_path(@scheme, @issue) %></span>
    <div class="grid-x">
      <!-- URN -->
      <div class="cell">
        <h3>URN <%= @issue.urn %></h3>
      </div>
      <!-- Priority, status, due date -->
      <div class="cell">
        <span class="badge secondary"><%= @issue.scheme_priority.name %></span>

        <!-- success, at completion date -->
        <span class="label <%= @issue.status%>"><%= @issue.status  %></span>
        <span>due <%= @issue.due_at.to_s(:short) %></span>
        <% if @issue.completed_at.present? %>
          <span>completed <%= @issue.completed_at.to_s(:short) %></span>
        <% end %>
        <!-- TODO show overdue days -->
      </div>
      <div class="cell status_update">
        <% if @issue.next_statuses.present? %>
          Update Status to:
          <% @issue.next_statuses.each do |status| %>
            <%= form_for [@scheme, @issue] do |form| %>
              <%= form.hidden_field :status, value: status %>
              <%= form.submit status %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <hr>
      <!-- Trade, description -->
      <div class="cell description padding-left-1 padding-top-1">
        <%= @issue.trade %>
        <p>
          <%= @issue.description %>
        </p>
      </div>
      <hr>
      <!-- Location, resident -->
      <div class="width-50">
        <p class="font-bold">Location</p>
        <p>Great Eastern</p>
        <p><%= @issue.location.name %></p>
      </div>
      <div class="width-50">
        <p class="font-bold">Resident</p>
        <%= @issue.resident.name %><br>
        <%= @issue.resident.phone %><br>
        <%= @issue.resident.email %>
      </div>
      <!-- Reported by and when -->
      <div class="cell">
        <p>
          Reported by <span class="font-bold"><%= @issue.user.email %></span> on <span class="font-bold"><%= @issue.created_at.to_s(:short) %></span>
        </p>
      </div>
    </div>

  </div>
  <div class="cell medium-4">
    <h2>Comments</h2>
    <% @issue.comments.each do |comment| %>
      <dt><%= comment.user.email %>: <%= comment.created_at.to_s(:short) %></dt>
      <dd><%= simple_format comment.text %></dd>
    <% end %>

    <%= form_for [@scheme, @issue, Comment.new] do |form| %>
      <%= form.text_area :text %>
      <%= form.submit %>
    <% end %>
  </div>
</div>
