<%= link_to '< Back', scheme_issues_path(@scheme) %>
<div class="grid-x">
  <div class="cell small-6">
    <h2>Issue</h2>
    <dl>
      <dt>URN</dt>
      <dd><%= @issue.urn %></dd>
      <dt>Reported by</dt>
      <dd><%= @issue.user.email %></dd>
      <dt>Scheme</dt>
      <dd><%= @issue.scheme.name %></dd>
      <dt>Date reported</dt>
      <dd><%= @issue.created_at.to_s(:short) %></dd>
      <dt>Priority</dt>
      <dd><%= @issue.scheme_priority.name %></dd>
      <dt>Due at</dt>
      <dd><%= @issue.due_at.to_s(:short) %></dd>
      <dt>Resident</dt>
      <dd>
        <%= @issue.resident.name %><br>
        <%= @issue.resident.phone %><br>
        <%= @issue.resident.email %>
      </dd>
      <dt>Description</dt>
      <dd><%= @issue.description %></dd>
      <dt>Trade</dt>
      <dd><%= @issue.trade %></dd>
      <dt>Status</dt>
      <dd><%= @issue.status %></dd>
      <dt>Location</dt>
      <dd><%= @issue.location.name %></dd>
    </dl>
    <p><%= link_to "Edit", edit_scheme_issue_path(@scheme, @issue) %></p>
  </div>
  <div class="cell small-6">
    <h2>Comments</h2>
    <% @issue.comments.each do |comment| %>
      <dt><%= comment.user.email %>: <%= comment.created_at.to_s(:short) %></dt>
      <dd><%= simple_format comment.text %></dd>
    <% end %>

    <%= form_for [@scheme, @issue, Comment.new] do |form| %>
      <%= form.text_area :text %>
      <%= form.submit %>
    <% end %>
  </div>
</div>
